@media (min-width:769px) and (max-width:1199px) {
    .container {
        padding: 0 25px;
    }

    /* ============= hero section start =============== */
    .hero_body {
        gap: 30px;
    }

    .hero_mid_card {
        height: 81%;
        object-fit: cover;
    }

    .hero_badge {
        left: 20%;
    }

    /* ============= hero section end =============== */

    /* ============= popular section start =============== */
    /* .tab_content {
        grid-template-columns: repeat(3, 1fr);
    } */

    /* ============= popular section end =============== */

    /* ============= futura section start =============== */
    .futura_container {
        padding: 60px 30px !important;
        gap: 30px;
    }

    .futura_left_bottom {
        margin-top: 50px;
        padding: 40px 25px;
        gap: 65px;
        width: 75% !important;
    }

    /* ============= futura section end =============== */


    /* ============= contact section start =============== */
    .contact_heading {
        font-size: 25px;
        line-height: 34px;
        margin-bottom: 12px;
    }

    /* ============= contact section end =============== */


}



@media (min-width:601px) and (max-width:768px) {
    .container {
        padding: 0 15px;
    }

    .bounce_svg {
        display: none;
    }


    /* =============== hero section start =============== */
    .hero_body {
        gap: 20px;
    }

    .hero_heading {
        font-size: 52px;
        line-height: 75px;
    }

    .hero_small_card {
        max-width: 220px;
    }

    .hero_mid_card {
        margin-top: 37px;
        width: 100%;
        height: 92%;
        object-fit: cover;
    }

    .hero_badge {
        top: -43px;
        left: 17%;
        width: 70%;
    }

    /* ========= popular section start ============== */
    /* .tab_content {
        grid-template-columns: repeat(2, 1fr);
    } */

    /* ========= popular section end ============== */


    /* ========= futura section start ============== */
    .futura_container {
        padding: 30px 15px;

    }

    .futura_container,
    .futura_left_bottom {
        flex-direction: column !important;
        align-items: center !important;
    }

    .futura_right {
        margin-top: 100px;
    }

    .futura_badge {
        top: -80px;
    }

    /* ============ contact start ============ */
    #contact_section {
        padding: 0;
    }

    /* ============ contact end ============ */

    /* ============ footer start ============ */
    .footer_top,
    .footer_top_center {
        gap: 30px;
    }

    .footer_top_start {
        max-width: 300px;
    }

    .footer_heading {
        font-size: 25px;
        line-height: 23px;
        padding-right: 0;
    }

    .footer_link_container {
        padding-left: 0;
    }
}






@media (max-width: 600px) {
    .container {
        padding: 0 15px;
    }

    .bounce_svg {
        display: none;
    }

    /* ========= header section start ============== */
    .nav_logo,
    .nav_social,
    .hamburger_img {
        width: 75%;
    }

    /* ========= header section end ============== */


    /* ========= hero section start ============== */

    .hero_header {
        gap: 12px;
    }

    .hero_heading {
        font-size: 35px;
        line-height: 45px;
    }

    .hero_body {
        flex-direction: column;
        gap: 30px;
    }

    .hero_small_card {
        max-width: 580px;
    }

    .hero_mid_card {
        margin-top: 55px;
        height: 400px;
        object-fit: cover;
    }

    .hero_badge {
        width: 50%;
        top: -12px;
        left: 25%;
    }

    /* ========= hero section end ============== */

    /* ========= slider section start ============== */
    .checkout_card_img {
        height: auto;
    }

    /* ========= slider section end ============== */


    /* ========= popular section start ============== */

    #popular_section {
        margin-top: 70px;
    }

    /* .tab_content {
        grid-template-columns: 1fr;
    } */


    .popular_heading {
        font-size: 31px;
    }

    /* ========= popular section end ============== */

    /* ========= futura section start ============== */
    .futura_container {
        padding: 30px 15px;

    }

    .futura_container,
    .futura_left_bottom {
        flex-direction: column !important;
    }

    .futura_left_bottom {
        gap: 30px !important;
    }

    .futura_heading {
        font-size: 30px;
        line-height: 42.4px;
        margin-bottom: 16px;
    }

    .futura_desc {
        font-size: 14px;
    }

    .futura_right {
        margin-top: 70px;
    }

    .futura_badge {
        width: 30%;
        top: -50px;
        right: 20px;
    }

    /* ========= futura section end ============== */

    /* ============= choose section start =============== */
    .choose_body {
        justify-content: center !important;
        align-items: center;
    }

    /* ============= choose section end ============== */

    /* ============= contact section start =============== */
    #contact_section {
        padding: 0;
    }

    .contact_container {
        padding: 50px 15px;
    }

    .contact_heading {
        font-size: 25px;
        line-height: 34px;
        margin-bottom: 12px;
    }

    .contact_desc {
        text-align: center;
    }

    .contact_btn_container {
        gap: 25px;
    }

    .contact_call_btn,
    .contact_see_btn {
        padding: 12px 6px;
    }

    /* ============= contact section end =============== */


    /* ============= footer section start =============== */
    .footer_top {
        gap: 30px;
    }

    .footer_top_center {
        gap: 1px;
    }

    .footer_link_container {
        padding-left: 0;
    }

    .privacy_div {
        justify-content: space-between;
        gap: 10px;
    }

    /* ============= footer section end =============== */
}